<div style="padding:40px;top:50px; position:relative;" class="allign">
    <div>
      <div>
        <h1>Reset Password</h1>
        <h4>Please enter your email address to request a password reset ^ ^</h4>
        <div>
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div><br>
        <div>
          <button type="submit" mat-flat-button color="accent" value="Reset Password" class="btn" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        </div>
      </div>
      <div>
        <h4>Go back to Sign In?</h4>
        <button type="button" mat-flat-button color="accent" value="Sign Up" class="btn" routerLink="/sign-in">Sign In</button>
      </div>
    </div>
  </div>
