<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
  
    <form class="login-signup">
      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <button mat-flat-button color="accent" type="submit" class="btn">Login</button>
    
      <div style="position:relative; margin-top: -280px; padding-left:600px; width:100%;">
      <h3>Don't have an account? Sign up now!</h3>
      <label for="first-name"><b>First name</b></label>
      <input type="text" placeholder="First name" name="first-name" required>
      <label for="last-name"><b>Last name</b></label>
      <input type="text" placeholder="Last name" name="last-name" required>
      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <button mat-flat-button color="accent" type="submit" class="btn">Sign up</button>
      
    </div>
     </form>
     
</body>
</html>
