
body{
  background-image: url(sakura-sann.png);
  background-color:#fbb4e0;
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
