<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/src/comments.js"></script>
    <title>Home</title>
</head>
<body>
    <h1 style="background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;            
    background-clip: text;
    color: transparent;
    font-size:5vw;
    font-family: luminari,fantasy;
    margin: auto;
    width: 50%;
    -webkit-text-stroke: 2px #000000;
    padding: 10px;">皆さんこんにちは！</h1><br>
    <h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">🌸　Welcome to your first Japanese course　🌸</h2>
    <h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">一 Introduction</h2>
<p> 　Today I will teach you about the Japanese language: its origin, the writing system, simple phrases and much more!</p>
<p> The Japanese writing system combines Chinese characters, known as kanji (漢字), with two unique syllabaries (or moraic scripts) derived by the Japanese from the more complex Chinese characters: hiragana (ひらがな) and katakana (カタカナ).</p><br>
<br><br><h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">二　The Beginning of Japanese Written Language</h2>
<p> 　Chinese writing system was first introduced to Japan in the 5th century. It is said that this is the start of Japanese literacy. Japanese emperors at that time invited famous Chinese scholars to Japan in order to learn Chinese writing system from them.</p>
<p> 　Hiragana was not accepted by everyone when it was first developed. The elites or high ranked persons preferred to use only Kanji. Cursive Hiragana script became popular first among women, who were generally not allowed access to the same levels of education as men. And thus Hiragana was first widely used among women in palace for the writing of personal communications and literature.</p>
<br><br><h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">三　The Birth of First Syllabic Scripts: Hiragana</h2>
<table style="margin:auto">
    <th style="font-weight: normal; text-align: justify;">
        <p> In contemporary Japanese language, Hiragana is used for words without Kanji representation, for words no longer written in Kanji, and also following Kanji to show conjugational endings. Because of the way verbs (and adjectives) in Japanese language are conjugated, Kanji alone cannot fully convey Japanese tense and mood, as Kanji cannot be subject to variation when written without losing its meaning. For this reason, Hiragana are suffixed to the ends of Kanji to show verb and adjective conjugations. Hiragana can also be written in a superscript called “Furigana” above or beside a Kanji to show the proper pronunciation of the Kanji.</p>
    </th>
    <th>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <img src="https://doyouknowjapan.com/image/language/vocabulaly-japanese.jpg" alt="jpn image" width="400" height="200"> 
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Genji_emaki_01003_001.jpg/330px-Genji_emaki_01003_001.jpg" alt="jpn image"> 
    </th>
</table>
<br><br><h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">四　The Birth of Second Syllabic Scripts: Katakana</h2>
<p>　Katakana was developed in the 9th century (during the early Heian period) by Buddhist monks originated from shorthand of Kanji. Unlike Hiragana, only men were using Katakana for official documents and documents imported from China. In contemporary Japanese, Katakana is primarily used to write foreign words, plant and animal names, and for emphasis.</p>
<br><br><h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">五　Japanese Writing System in Education</h2>
<p> 　Japanese students begin to learn Kanji from their first year at elementary school. A guideline created by the Japanese Ministry of Education, the list of Kyoiku Kanji ("education Kanji"), specifies the 1,006 simple Kanji characters a child is to learn by the end of sixth grade. Children continue to study another 1,130 Kanji characters in junior high school, covering in total 2,136 Joyo Kanji ("common use Kanji").</p>

<br><br><h2 style=" padding-left: 20px;padding-bottom: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">六 Let's learn some words!</h2>
<p>Before you take the test you should learn some words: 新しいのことを勉強するよね！</p>
<p>Have fun!^^ 楽しいねえええ！</p><br>

<h2 style=" padding-left: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">Greetings:</h2>
<p>Hello: こんにちは (konnichiwa) </p>
    <p>Goodbye: じゃね (ja ne) </p>
    <p>Thank you: ありがとう (arigatou) </p>
    <p>I’m Sorry: ごめんなさい (gomen nasai) </p>
    <p>Excuse me: すみません (sumimasen) </p>
    <p>Yes: はい (hai)</p> 
    <p>No: いいえ (iie)</p>

<br><br>

<div style="position:relative; margin-top: -560px; padding-left:600px; ">
<h2 style=" padding-left: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">Pronouns:</h2>
<p >I: 私 (watashi)</p>　
    <p>You: あなた (anata)</p>　
    <p>This: これ (kore)　</p>
    <p>That: それ (sore)</p>　
    <p>He: 彼 (kare)</p>　
    <p>She: 彼女 (kanojo)　</p>
    <p>They: 彼ら (karera)</p>

</div>
<br><br>
<div style="padding-bottom:90px">
<h2 style=" padding-left: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">Numbers:</h2>
<p>Two: に (ni)</p>
<p>Three: さん (san)</p>
<p>Four: し (shi) or よん (yon)</p>
<p>Five: ご (go)</p>
<p>Six: ろく (roku)</p>
<p>Seven: なな (nana) or しち (shichi)</p>
<p>Eight: はち (hachi)</p>
<p>Nine: く (ku) or きゅう (kyuu)</p>
<p>Ten: じゅう (juu)</p>
</div>
<br><br>
<div style="position:relative; margin-top: -765px; padding-bottom:50px; padding-left:600px; ">
<h2 style=" padding-left: 20px;font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">Time:</h2>
<p>Today: 今日 (kyou)</p>
<p>Tomorrow: 明日 (ashita)</p>
<p>Yesterday: 昨日 (kinou)</p>
<p>Now: 今 (ima)</p>
<p>Before: 前に (mae ni)</p>
<p>Later: 後で (ato de)</p>
</div>
<br><br><br><br><br><br><br><br><br>
<h2 style=" padding-left: 20px; font-family: Arial, Helvetica, sans-serif;-webkit-text-stroke: 1px #000000; color:deeppink; font-size: 2vw;">Nouns:</h2>
<p>Home: 家 (ie or uchi)</p>
<p>Shop: 店 (mise)</p>
<p>Movie: 映画 (eiga)</p>
<p>School: 学校 (gakkou)</p>
<p>Car: 車 (kuruma)</p>
<p>Town: 町 (machi)</p>
<p>Music: 音楽 (ongaku)</p>
<p>Family: 家族 (kazoku)</p>
<p>Hometown: 出身 (shusshin)</p>
<p>Bathroom: トイレ (toire)</p>
<br><br>

<div *ngFor="let comment of comments">
    <h4>{{ comment.name }}</h4>
    <p>{{ comment.content }}</p>
    <hr>
  </div>
  
  <div style="padding-left:25px;">
  <form (ngSubmit)="addComment()">
    <input type="text" id="name" placeholder="Enter name" [(ngModel)]="newComment.name" required>
    <br>
    <textarea id="content" placeholder="Enter comment" [(ngModel)]="newComment.content" required></textarea>
    <br>
    <div style="padding-right:20px;">
    <button type="button" mat-flat-button color="accent" value="Submit" class="btn">Add comment</button><br><br><br>
  </div></form></div>
</body>

</html>


